

body {
    font-family: Arial, sans-serif, Helvetica;
    margin: 0;
    padding: 0;
    color: #000;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.contact-section {
    padding: 40px 0;
}

.contact-section small {
    color: blue;
    font-size: 14px;
}

.contact-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-form textarea {
    width: 60%;
    height: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
}

.form-inputs {
    width: 35%;
    display: flex;
    flex-direction: column;
}

.form-inputs input {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
}

.form-inputs button {
    padding: 10px;
    background-color: #6361f1;
    color: white;
    border: none;
    cursor: pointer;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    flex-wrap: wrap;
}

.info-box {
    width: 30%;
    text-align: center;
}

.info-box img {
   
    margin-bottom: 10px;
}

.info-box p {
    font-size: 16px;
}

.info-box span {
    font-size: 14px;
    color: #555;
}

.photo-section {
    padding: 40px 0;
}

.photo-section small {
    color: blue;
    font-size: 14px;
}

.photo-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.photo-gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.photo-gallery img {
    width: 32%;
    height: auto;
    object-fit: cover;
}


.social-icons img {
    margin-right: 10px;
    width: 24px;
    cursor: pointer;
}


@media (max-width: 768px) {
    .contact-form textarea, .form-inputs {
        width: 100%;
    }

    .info-box {
        width: 100%;
        margin-bottom: 20px;
    }

    .photo-gallery img {
        width: 100%;
        margin-bottom: 20px;
    } }

    .contact-info .email img {
    width: 41px;
}

.contact-info .phone img {
    width: 51px;
}

.contact-info .location img {
    width: 23px;
}
.contact-info {
    font-weight: 700;
}
.contact-info {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 50px;
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-box div {
    width: 68px;
    height: 68px;
    background-color: #5968F4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.contact-info .email img {
    width: 41px;
}

.contact-info .phone img {
    width: 51px;
}

.contact-info .location img {
    width: 23px;
}
